body{
    background-color: #F9F9F9;
}
.header{
    background-color: #fff;
    margin-bottom: .3rem;
    border-bottom: solid 1px #ddd;
}
.head-img-li{
    width: 100%;
    height: 6.67rem;
    object-fit: cover;
}
.head-video-li{
    width: 100%;
    height: 6.67rem;
    object-fit: fill;
}
.header-fun{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .3rem .4rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.header-back{
    width: .34rem;
    height: .57rem;
}
.header-fun-r{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: .28rem;
}
.header-like,.header-share{
    width: .52rem;
    height: .46rem;
    margin-left: .53rem;
}
.header-img{
    width: 100%;
    height: 6.67rem;
    object-fit: cover;
}
.header-con{
    background-color: #fff;
    border-radius: .24rem .24rem 0 0;
    margin-top: -.4rem;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    padding: .68rem .4rem 0;
    margin-bottom: .29rem;
    border-bottom: solid 1px #dedede;
}
.video-wrap{
    width: 10rem;
    /*height: 6.67rem;*/
    height: auto;
    display: block;
    position: relative;
    margin: 0 auto;
}
.top-video{
    width: 100%;
    height: 100%;
    max-height: 6.67rem;
    display: block;
    position: relative;
    /*z-index: -1;*/
}
.top-swiper-img{
    width: 100%;
    height: 6.67rem;
}
.top-swiper-img img{
    object-fit: cover;
    max-width: 100%;
    height: 6.67rem;
    margin: 0 auto;
}
.video-full{
    height: .56rem;
    line-height: .56rem;
    border-radius: .16rem;
    background: rgba(0,0,0,.6);
    padding: 0 .17rem;
    font-size: .32rem;
    color: #fff;
    position: absolute;
    right: .43rem;
    bottom: .37rem;
    z-index: 2;
}
.video-album{
    height: .56rem;
    line-height: .56rem;
    border-radius: .16rem;
    background: rgba(0,0,0,.6);
    padding: 0 .17rem;
    font-size: .32rem;
    color: #fff;
    position: absolute;
    left: .43rem;
    bottom: .37rem;
    z-index: 2;
    display: flex;
    align-items: center;
}
.video-album:before{
    content: '';
    display: block;
    width: .35rem;
    height: .35rem;
    background: url("../img/icon_img_w.png") no-repeat center / 100%;
    margin-right: .12rem;
}
.top-info{
    padding: .31rem .43rem;
}
.hc-inf{
    font-size: .43rem;
    color: #444;
    margin-bottom: .24rem;
}
.hc-tit{
    font-size: .48rem;
    font-weight: bold;
    color: #333;
    line-height: .64rem;
    margin-bottom: .28rem;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.hc-tags{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: .32rem;
}
.hc-tag{
    height: .53rem;
    line-height: .53rem;
    background-color: #FDD9D5;
    color: #E17166;
    border-radius: .11rem;
    padding: 0 .12rem;
    font-size: .32rem;
    margin-right: .24rem;
    margin-bottom: .2rem;
}
.hc-tag:nth-child(2n){
    background-color: #FDF4E7;
    color: #F3BA5B;
}
.hc-tag:nth-child(3){
    background-color: #EDF4FB;
    color: #5394F1;
}
.hc-tag:nth-child(4){
    background-color: #FBF2ED;
    color: #F18B53;
}
.hc-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .37rem 0;
    border-top: solid 1px #E5E5E5;
}
.hcr-l{
    font-size: .43rem;
    color: #333;
    font-weight: bold;
    flex: 1;
    margin-right: .3rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.hcr-r{
    font-size: .37rem;
    color: #E02A1C;
}
.hcr-lt{
    /*margin-bottom: .25rem;*/
}
.hcr-lt span{
    font-weight: normal;
}
.hcr-lb{
    font-size: .35rem;
    color: #666;
    font-weight: normal;
    display: flex;
    align-items: center;
}
.hcr-lb:before{
    content: '';
    display: block;
    width: .32rem;
    height: .39rem;
    background: url("../img/icon_train.png") no-repeat center / 100%;
    margin-right: .15rem;
}
.hcr-rt{
    width: .45rem;
    height: .6rem;
    margin: 0 auto .08rem;
}
.hcr-rb{
    font-size: .32rem;
}

.pan{
    border-top: solid 1px #dedede;
    border-bottom: solid 1px #dedede;
    box-sizing: border-box;
    position: relative;
    margin-bottom: .29rem;
    background-color: #fff;
}
.pan2{
    border-top: solid 1px #dedede;
    border-bottom: solid 1px #dedede;
    box-sizing: border-box;
    position: relative;
    margin-bottom: .29rem;
    background-color: #fff;
    padding: 0 .43rem;
}
.pan-tit{
    font-size: .45rem;
    color: #333;
    line-height: .64rem;
    font-weight: bold;
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: solid 1px #E1E1E1;
    padding: .31rem 0;
}
.pan-tit:before{
    content: '';
    display: block;
    width: .11rem;
    height: .48rem;
    background-color: #E02A1C;
    margin-right: .25rem;
}
.pan-tit span{
    font-size: .4rem;
    color: #666;
    font-weight: normal;
    padding-left: .2rem;
}
.pan-coi{
    background-color: #F6F6F6;
    border-radius: .24rem;
    padding: .32rem .24rem;
    line-height: .51rem;
    font-size: .37rem;
    color: #333;
    margin: 0 0 .39rem;
    white-space: pre-line;
}

.pan-sticky{
    /*position: sticky;*/
    /*position: -webkit-sticky;*/
    /*top: 0;*/
    background: #fff;
    padding: 0 .43rem;
}
.pan-con{
    padding: .43rem;
}
.pan-con2{
    padding: .43rem 0;
}
.pan-des{
    font-size: .4rem;
    color: #666;
    line-height: .64rem;
    padding: .43rem 0;
    position: relative;
    max-height: 5.84rem;
    overflow: hidden;
    white-space: pre-line;
}
.pan-des:after{
    content: '';
    display: block;
    width: 100%;
    height: 3.47rem;
    background: linear-gradient(0deg, rgba(255,255,255,1), rgba(255,255,255,0));
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.pan-des img{
    max-width: 100%;
    border-radius: .32rem;
    margin-bottom: .37rem;
}
.pan-des p{
    margin-bottom: .2rem;
}
.pan-des.showAll{
    overflow: initial;
    height: auto !important;
    max-height: inherit !important;
    display: block;
}
.pan-des.showAll:after{
    display: none;
}
.pan-showall2{
    width: 9.17rem;
    height: 1.09rem;
    line-height: 1.09rem;
    border: solid 1px #666;
    border-radius: .24rem;
    margin: 0 auto .43rem;
    text-align: center;
    font-size: .4rem;
    color: #666;
}
.pan-notice{
    font-size: .4rem;
    color: #666;
    line-height: .59rem;
}
.stk-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .29rem 0;
    border-bottom: solid 1px #DEDEDE;
    margin-bottom: .32rem;
}
.stk-l, .stk-r{}
.stk-r .stk-t{
    justify-content: flex-end;
}
.stk-r .stk-b{
    text-align: right;
}
.stk-t{
    font-size: .37rem;
    color: #666;
    display: flex;
    align-items: center;
    margin-bottom: .2rem;
}
.stk-t:after{
    content: '';
    display: block;
    width: .28rem;
    height: .13rem;
    background: url("../img/icon_arrow_down.png") no-repeat center center / 100%;
    margin-left: .16rem;
}
.stk-b{
    font-size: .45rem;
    color: #333;
    font-weight: bold;
    width: 3.5rem;
    border: 0;
}
.stk-b::placeholder{
    color: #333;
}
.stk-c{
    flex: 1;
    text-align: center;
    color: #ccc;
}
.room-li{
    border-radius: .27rem;
    background-color: #fff;
    padding: .43rem;
    margin: 0 .43rem .49rem;
    box-shadow: 0 0 .1rem rgba(0, 0, 0, 0.22);
}
.nli-t{
    display: flex;
    justify-content: space-between;
    padding-bottom: .43rem;
}
.nli-tl{
    width: 2.56rem;
    height: 2.56rem;
    border-radius: .24rem;
    margin-right: .31rem;
    object-fit: cover;
}
.nli-tr{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nli-tit{
    font-size: .45rem;
    color: #333;
    font-weight: bold;
    margin-bottom: .24rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 5.3rem;
}
.nli-tags{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex: 1;
}
.nli-tag{
    background-color: #f0f0f0;
    height: .51rem;
    line-height: .51rem;
    border-radius: .11rem;
    padding: 0 .12rem;
    margin-right: .24rem;
    font-size: .32rem;
    color: #666;
}
.nli-inf{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nli-inl{
    flex: 1;
    font-size: .32rem;
    color: #666;
}
.nli-inl p{
    display: flex;
    align-items: center;
    position: relative;
}
.nli-inl p sup{
    font-size: .2rem;
    margin-top: -.1rem;
}
.nli-inl p:before{
    content: '';
    display: block;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #666;
    margin-right: .1rem;
}
.nli-inr{
    height: .72rem;
    line-height: .72rem;
    padding: 0 .27rem;
    border-radius: .16rem;
    background-color: #E02A1C;
    font-size: .4rem;
    color: #fff;
}
.nli-inl p.nli-inline{
    display: inline-flex;
}
.nli-m{
    border-top: dashed 1px #eee;
}
.nli{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .37rem 0;
    border-top: solid 1px #DEDEDE;
}
.nli-m .nli:first-child{
    border-top-style: dashed;
}
.nli-m .nli:last-child{
    padding-bottom: 0;
}
.nli-ml{
    flex: 1;
}
.nli-mlt{
    font-size: .45rem;
    color: #333;
    margin-bottom: .32rem;
    font-weight: bold;
}
.nli-mlb{
    font-size: .37rem;
    color: #666;
}
.nli-mlb span{
    color: #E02A1C;
}
.nli-mlg{
    display: inline-flex;
    align-items: center;
    height: .48rem;
    border-radius: .11rem;
    font-size: .32rem;
    color: #666;
}
.nli-mlg-l{
    height: .48rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    padding: 0 .13rem;
    border: solid 1px #ccc;
    border-radius: .11rem 0 0 .11rem;
}
.nli-mlg-l.nli-single{
    border-radius: .11rem;
}
.nli-mlg-r{
    height: .48rem;
    line-height: .48rem;
    padding: 0 .13rem;
    border: solid 1px #ccc;
    border-left: 0;
    border-radius: 0 .11rem .11rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nli-mlg-r:after{
    content: '';
    display: block;
    color: #E02A1C;
    width: .11rem;
    height: .11rem;
    border: solid 1px;
    border-color: #E02A1C #E02A1C transparent transparent;
    transform: rotate(45deg);
    margin-left: .05rem;
}
.nli-mlm{
    color: #333;
    font-size: .37rem;
    margin-bottom: .19rem;
}
.nli-mlm span{
    color: #E02A1C;
    font-size: .48rem;
}
.nli-mlm span i{
    font-style: normal;
    font-size: .37rem;
}
.nli-mr{
    height: .69rem;
    line-height: .69rem;
    border-radius: .16rem;
    background-color: #E02A1C;
    font-size: .37rem;
    color: #fff;
    padding: 0 .28rem;
}
.nli-mr.nli-sl{
    width: 1.45rem;
    height: 1.45rem;
    line-height: 1.45rem;
    padding: 0;
    background: url("../img/img_sold_out.png") no-repeat center center / 100%;
}
.m-rules{
    background-color: #fff;
    border-top: solid 1px #dedede;
    border-bottom: solid 1px #dedede;
    margin-bottom: .27rem;
    padding: 0 .43rem;
}
.rules-con{
    padding: .27rem 0;
    font-size: .4rem;
    white-space: pre-wrap;
    line-height: .61rem;
    color: #666;
}
.rules-tit{
    font-size: .43rem;
    color: #333;
    margin-bottom: .31rem;
}
.rules-des, .rules-li{
    font-size: .4rem;
    color: #666;
    line-height: .61rem;
    margin-bottom: .27rem;
}
.rules-li p{
    font-size: .4rem;
    color: #666;
    line-height: .61rem;
}
.m-rules .rules-cm:last-child{
    margin-bottom: 0;
}

.pt-group{
    padding: .43rem 0 0;
}
.pt-tit{
    font-size: .43rem;
    color: #333;
    display: flex;
    align-items: center;
    margin-bottom: .43rem;
    font-weight: bold;
}
.pt-yqss{
    width: .56rem;
    height: .56rem;
    margin-right: .23rem;
}
.pt-con{
    display: flex;
    flex-wrap: wrap;
}
.pt-li{
    width: 2.85rem;
    margin-right: .29rem;
    margin-bottom: .43rem;
}
.pt-con .pt-li:nth-child(3n){
    margin-right: 0;
}
.pt-img{
    width: 2.85rem;
    height: 2.13rem;
    border-radius: .16rem;
    object-fit: cover;
    margin-bottom: .37rem;
}
.pt-name{
    font-size: .4rem;
    color: #333;
    text-align: center;
}
.pt-btn{
    width: 2.77rem;
    height: .96rem;
    line-height: .96rem;
    text-align: center;
    border: solid 1px #dedede;
    border-radius: .16rem;
    margin: .51rem auto;
    font-size: .4rem;
    color: #666;
}
.pt-btn2,.comment-btn{
    width: 2.77rem;
    height: .96rem;
    line-height: .96rem;
    text-align: center;
    border: solid 1px #dedede;
    border-radius: .16rem;
    margin: .21rem auto;
    font-size: .4rem;
    color: #666;
}
.comment-btn{
    margin-bottom: .51rem;
}

.zb-tabs{
    display: flex;
    margin-bottom: .32rem;
}
.zb-tab{
    height: .72rem;
    line-height: .72rem;
    border: solid 1px #ccc;
    border-radius: .11rem;
    padding: 0 .24rem;
    font-size: .43rem;
    color: #666;
    background-color: #F3F3F3;
    margin-right: .27rem;
}
.zb-tab.cur{
    color: #E02A1C;
    border-color: #E02A1C;
    background-color: #fff;
}
.zb-img{
    width: 3.79rem;
    height: 2.53rem;
    border-radius: .19rem;
    margin-bottom: .32rem;
    object-fit: cover;
}
.zb-tit{
    font-size: .43rem;
    color: #333;
    margin-bottom: .23rem;
}
.zb-pos{
    font-size: .37rem;
    color: #666;
}
.pan-question{
    border-bottom: solid 1px #E1E1E1;
    padding-bottom: .43rem;
    padding-top: .43rem;
}
.pan-question:nth-child(2){
    border-bottom: 0;
}
.pq-ask{
    display: flex;
    font-size: .43rem;
    color: #333;
    margin-bottom: .32rem;
}
.pq-ask:before{
    content: '';
    display: block;
    width: .51rem;
    height: .51rem;
    background: url("../img/icon_ask.png") no-repeat center / 100%;
    margin-right: .27rem;
}
.pq-ans{
    display: flex;
    font-size: .43rem;
    color: #666;
    line-height: .64rem;
}
.pq-ans:before{
    content: '';
    display: block;
    width: .51rem;
    height: .51rem;
    background: url("../img/icon_answer.png") no-repeat center / 100%;
    margin-right: .27rem;
}
.pq-ans span{
    flex: 1;
}

.ask-nodata{
    display: block;
    padding-top: .43rem;
}
.an-t{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: .41rem;
    border-bottom: dashed 1px #DEDEDE;
    margin-bottom: .61rem;
    margin-top: .43rem;
}
.an-avatar{
    width: .77rem;
    height: .77rem;
    border-radius: 50%;
    margin-right: .27rem;
}
.an-input{
    flex: 1;
    height: .85rem;
    line-height: .85rem;
    border-radius: .43rem;
    background-color: #F6F6F8;
    font-size: .4rem;
    color: #666;
    padding: 0 .44rem;
    box-sizing: border-box;
}
.an-icon{
    width: 3.61rem;
    height: 3.23rem;
    margin: 0 auto .25rem;
}
.an-txt{
    font-size: .35rem;
    color: #999;
    text-align: center;
    margin-bottom: 1rem;
}

.ask-li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .22rem 0;
}
.ask-l{
    content: '';
    display: block;
    width: .51rem;
    height: .51rem;
    background: url("../img/icon_ask.png") no-repeat center / 100%;
}
.ask-c{
    flex: 1;
    margin: 0 .25rem;
    color: #333;
    font-size: .43rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ask-r{
    color: #666;
    font-size: .4rem;
}
.ask-btn{
    width: 2.77rem;
    height: .96rem;
    line-height: .96rem;
    text-align: center;
    border: solid 1px #dedede;
    border-radius: .16rem;
    color: #666;
    font-size: .4rem;
    margin: .51rem auto;
}
.aq-list{
    padding: 0 0 .51rem;
}
.pt-btn3{
    width: 2.77rem;
    height: .96rem;
    line-height: .96rem;
    text-align: center;
    border: solid 1px #dedede;
    border-radius: .16rem;
    margin: 0 auto .51rem;
    font-size: .4rem;
    color: #666;
}

.sa-nodata{
    padding: .69rem 0 .8rem;
}
.san-img{
    width: 3.93rem;
    margin: 0 auto .24rem;
}
.san-txt{
    font-size: .37rem;
    color: #999;
    text-align: center;
}

.comment{
    background-color: #fff;
    padding: 0 .43rem;
    margin-bottom: .27rem;
    border-top: solid 1px #dedede;
    border-bottom: solid 1px #dedede;
}
.comment-list{
    padding-top: .41rem;
}
.comment-li{
    margin-bottom: .3rem;
}
.comment-li-wrap{
    display: flex;
    justify-content: space-between;
}
.comment-l{
    width: .85rem;
    height: .85rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: .28rem;
}
.comment-c{
    flex: 1;
    transition: height .3s ease;
}
.comment-name{
    font-size: .4rem;
    color: #666;
    margin-bottom: .27rem;
}
.comment-con{
    font-size: .43rem;
    color: #333;
    line-height: .67rem;
    margin-bottom: .36rem;
}
.comment-imgs{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: .11rem;
}
.comment-img{
    width: 1.84rem;
    height: 1.84rem;
    border-radius: .32rem;
    margin-right: .16rem;
    margin-bottom: .16rem;
    object-fit: cover;
}
.comment-fun{
    display: flex;
    align-items: center;
    margin-bottom: .55rem;
}
.comment-time{
    font-size: .37rem;
    color: #666;
}
.comment-btn-reply{
    font-size: .37rem;
    color: #666;
    margin-left: .24rem;
}
.comment-btn-more{
    width: .69rem;
    height: .37rem;
    margin-left: .25rem;
}
.comment-reply{
    overflow: hidden;
    padding-left: 1.1rem;
}
.cop-li{
    display: flex;
    justify-content: space-between;
}
.cop-li.hide{
    display: none;
}
.cop-l{
    width: .72rem;
    height: .72rem;
    object-fit: cover;
    border-radius: 50%;
    margin-right: .28rem;
}
.cop-c{
    flex: 1;
}
.cop-name{
    font-size: .37rem;
    color: #666;
    margin-bottom: .32rem;
}
.cop-author{
    background-color: #E02A1C;
    padding: .06rem .08rem;
    border-radius: .05rem;
    display: inline-block;
    margin-left: .19rem;
    color: #fff;
    font-size: 0.32rem;
}
.cop-con{
    font-size: .39rem;
    color: #333;
    line-height: .61rem;
    margin-bottom: .31rem;
}
.cop-con-icon{
    width: .39rem;
    height: .4rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: .13rem;
}
.cop-con-show-img{
    color: #3397C6;
    margin-left: .2rem;
}
.cop-con-show-img span{
    display: inline-block;
    vertical-align: middle;
}
.cop-fun{
    display: flex;
    align-items: center;
    margin-bottom: .51rem;
}
.cop-time{
    font-size: .37rem;
    color: #666;
}
.cop-btn-reply{
    font-size: .37rem;
    color: #666;
    margin-left: .24rem;
}
.cop-btn-more{
    width: .69rem;
    height: .37rem;
    margin-left: .25rem;
}
.cop-more{
    display: flex;
    align-items: center;
    font-size: .4rem;
    color: #999;
    margin-bottom: .4rem;
    padding-left: 1.1rem;
}
.cop-more:before{
    content: " ";
    display: block;
    width: .77rem;
    height: .01rem;
    background-color: #999;
    margin-right: .24rem;
}
.cop-more-btn{
    width: .37rem;
    height: .2rem;
    margin-left: .13rem;
    transform: rotate(180deg);
    transition: transform .3s ease;
}
.cop-more-btn.col{
    transform: rotate(0deg);
}
.cop-r{
    margin-left: .2rem;
}
.cop-like-icon{
    width: .41rem;
    height: .41rem;
    margin-bottom: .23rem;
}
.cop-like-num{
    font-size: .37rem;
    color: #666;
}
.comment-r{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: .2rem;
}
.comment-like-icon{
    width: .41rem;
    height: .41rem;
    margin-bottom: .23rem;
}
.comment-like-num{
    font-size: .37rem;
    color: #666;
}
.comment-nodata{
    padding-top: .73rem;
}
.comment-nodata-icon{
    width: 3.93rem;
    height: 3.52rem;
    margin: 0 auto .69rem;
}
.comment-nodata-tit{
    text-align: center;
    font-size: .45rem;
    color: #2B2B2B;
    margin-bottom: .31rem;
}
.comment-nodata-stit{
    font-size: .4rem;
    color: #666;
    text-align: center;
    margin-bottom: 1.5rem;
}
.comment-bar{
    height: 1.31rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 -.1rem .2rem rgba(0,0,0,.01);
}
.comment-bar-input{
    width: 9.15rem;
    height: .96rem;
    border-radius: .16rem;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    color: #666;
    font-size: .4rem;
    padding: 0 .27rem;
}
.comment-bar-gap{
    height: .96rem;
}
.m-tit{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #E1E1E1;
}
.m-tit-l{
    font-size: .43rem;
    color: #333;
    padding: .31rem 0;
    display: flex;
    align-items: center;
}
.m-tit-l:before{
    content: '';
    display: block;
    width: .08rem;
    height: .48rem;
    background-color: #E02A1C;
    margin-right: .25rem;
}
.com-tit-r{
    height: .64rem;
    line-height: .64rem;
    border: solid 1px #ccc;
    border-radius: .32rem;
    padding: 0 .48rem;
    font-size: .4rem;
    color: #666;
}
.m-tit-h.m-tit-l:before{
    height: .96rem;
}
.m-tit-lb{
    flex: 1;
}
.m-tit-c{
    color: #666;
    font-size: .35rem;
    margin-top: .15rem;
}
.m-tit-r{
    color: #666;
    font-size: .37rem;
}
.m-tit-rm i{
    font-style: normal;
    color: #F55245;
}
.bottom-bar{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1.44rem;
    box-sizing: border-box;
    padding: .2rem .43rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 120;
    box-shadow: 0 -.05rem .1rem rgba(0,0,0,.08);
    background-color: #fff;
}
.bb-l{
    display: block;
    text-decoration: none;
}
.bb-lm{
    width: .69rem;
    height: .69rem;
    margin: 0 auto .17rem;
}
.bb-lt{
    font-size: .32rem;
    color: #444;
}
.bb-r{
    height: 1.04rem;
    line-height: 1.04rem;
    border-radius: .52rem;
    background-color: #C91A1D;
    text-align: center;
    font-size: .43rem;
    color: #fff;
    padding: 0 .83rem;
}
.bb-gap{
    height: 1.04rem;
}

.sa-list{
    padding: .1rem 0 .4rem;
}
.sa-li{
    padding: .33rem 0;
    text-decoration: none;
    display: block;
}
.sai-t{
    display: flex;
    justify-content: space-between;
    margin-bottom: .36rem;
}
.sai-tl{
    width: 6.2rem;
    height: 4.12rem;
    position: relative;
    border-radius: .24rem;
    overflow: hidden;
}
.sai-tl-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sai-tl-pos{
    display: flex;
    align-items: center;
    position: absolute;
    left: .21rem;
    bottom: .2rem;
    color: #fff;
    font-size: .4rem;
}
.sai-tro{
    height: .69rem;
    line-height: .69rem;
    background-color: #e6e6e6;
    border-radius: .16rem;
    margin-bottom: .24rem;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .43rem;
}
.sai-tro-more{
    width: .35rem;
    height: .4rem;
    margin: 0 auto;
    transform: rotate(90deg);
}
.sai-st{
    font-size: .43rem;
    color: #333;
    margin-bottom: .24rem;
}
.sai-tit{
    font-size: .48rem;
    color: #444;
    font-weight: bold;
    line-height: .64rem;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: .31rem;
}
.sai-inf{
    font-size: .43rem;
    color: #333;
    margin-bottom: .24rem;
}
.sai-inf span{
    color: #333;
    font-size: .54rem;
    font-weight: bold;
}
.sai-inf span i{
    font-style: normal;
    font-size: .48rem;
    font-weight: normal;
}
.sai-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sai-tags{
    display: flex;
    align-items: center;
}
.sai-tag-l{
    border: solid 1px #ccc;
    font-size: .37rem;
    color: #E02A1C;
    border-radius: .11rem 0 0 .11rem;
    height: .56rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 .16rem;
    /*background-color: #f3f3f3;*/
}
.sai-tag-r{
    border: solid 1px #ccc;
    font-size: .37rem;
    color: #666;
    border-radius: 0 .11rem .11rem 0;
    border-left: 0;
    height: .56rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 .16rem;
}
.sai-tag-single{
    border: solid 1px #ccc;
    border-radius: .11rem;
}
.sai-detail{
    height: .72rem;
    line-height: .72rem;
    border: solid 1px #E02A1C;
    padding: 0 .27rem;
    border-radius: .16rem;
    font-size: .4rem;
    color: #E02A1C;
}

.sai-tr{
    flex: 1;
    margin-left: .27rem;
}




.valid-date{
    font-size: 0.4rem;
}
.calendar.slideIn{
    animation: slideIn .3s ease;
}
.calendar.slideOut{
    animation: slideOut .3s ease;
}
@keyframes slideIn {
    from{transform: translate3d(0, 100%, 0)}to{transform: translate3d(0, 0, 0)}
}
@keyframes slideOut {
    from{transform: translate3d(0, 0, 0)}to{transform: translate3d(0, 100%, 0)}
}


.dp-wrap{
    display: none;
}
.dp-mask{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 2000;
    background-color: rgba(0,0,0,.65);
}
.dp-main{
    background-color: #fff;
    position: fixed;
    width: 100%;
    height: 90%;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2010;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dp-mc{
    flex: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.dp-wrap.slideUp .dp-mask{
    animation: fadeIn .3s ease;
}
.dp-wrap.slideDown .dp-mask{
    animation: fadeOut .3s ease;
}
.dp-wrap.slideUp .dp-main,.ct.slideUp{
    animation: slideIn .5s ease;
}
.dp-wrap.slideDown .dp-main,.ct.slideDown{
    animation: slideOut .3s ease;
}
.dp-head{
    height: 1.11rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 .43rem
}
.dph-close,.dph-r{
    width: .33rem;
    height: .33rem;
}
.dph-tit{
    flex: 1;
    margin: 0 .1rem;
    font-size: .48rem;
    color: #333;
    text-align: center;
}
.house-photo{
    width: 100%;
    height: 6.67rem;
}
.swiper-container-album{
    position: relative;
    width: 100%;
    height: 6.67rem;
}
.swiper-pagination-album.swiper-pagination-fraction{
    width: auto;
    position: absolute;
    right: .41rem;
    bottom: .63rem;
    left: auto;
    z-index: 2;
    height: .57rem;
    line-height: .57rem;
    background-color: rgba(0,0,0,.6);
    border-radius: .16rem;
    font-size: .32rem;
    color: #fff;
    padding: 0 .12rem;
}
.dp-m{
    background-color: #F7F7F7;
    border-radius: .24rem .24rem 0 0;
    margin-top: -.38rem;
    position: relative;
    z-index: 2;
}
.dpm-top{
    background-color: #fff;
    border-radius: .24rem .24rem 0 0;
    padding: .73rem .43rem .51rem;
    position: relative;
    margin-bottom: .28rem;
    border-bottom: solid 1px #dedede;
}
.dmt-verify{
    height: .77rem;
    line-height: .77rem;
    position: absolute;
    top: -.39rem;
    border-radius: .39rem;
    padding: 0 .4rem;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0 0 .1rem rgba(0,0,0,.15);
    font-size: .4rem;
    color: #666;
}
.dmt-verify:before{
    content: '';
    display: block;
    width: .56rem;
    height: .56rem;
    background: url("../img/verify_red.png") no-repeat center / 100%;
    margin-right: .1rem;
}
.dmt-tit{
    font-size: .48rem;
    color: #333;
    margin-bottom: .32rem;
}
.dmt-tags{
    display: flex;
    align-items: center;
    margin-bottom: .43rem;
}
.dmt-tag{
    height: .56rem;
    line-height: .56rem;
    color: #E17166;
    background-color: #FDD9D5;
    border-radius: .08rem;
    padding: 0 .2rem;
    margin-right: .24rem;
}
.dmt-tags .dmt-tag:nth-child(2){
    background-color: #FDF4E7;
    color: #F3BA5B;
}
.dmt-tags .dmt-tag:nth-child(3){
    background-color: #EDF4FB;
    color: #5394F1;
}
.dmt-tags .dmt-tag:nth-child(4){
    background-color: #FBF2ED;
    color: #F18B53;
}
.dmt-tag-more{
    width: .2rem;
    height: .4rem;
}
.dmt-row{
    display: flex;
    align-items: center;
    margin-bottom: .41rem;
}
.dmt-row-l{
    font-size: .37rem;
    color: #999;
    margin-right: .44rem;
}
.dmt-row-r{
    font-size: .4rem;
    color: #333;
}
.swiper-slide-ins{
    display: flex;
    align-items: center;
    width: auto;
}
.dmt-il{
    width: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.dmt-il-icon{
    width: 1.52rem;
    height: 1.5rem;
}
.dmt-il-name{
    font-size: .35rem;
    color: #333;
    text-align: center;
}
.dmt-ir{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: .4rem;
}
.dmt-ili{
    font-size: .3rem;
    color: #333;
    line-height: .5rem;
}
.dmt-ili span{
    color: #999;
}

.dpm-pan, .dpm-pan2{
    background-color: #fff;
    border-top: solid 1px #DEDEDE;
    border-bottom: solid 1px #DEDEDE;
    margin-bottom: .28rem;
}
.dpp-tit{
    font-size: .45rem;
    color: #333;
    display: flex;
    align-items: center;
    padding: .31rem 0;
    margin: 0 .43rem;
    border-bottom: solid 1px #E1E1E1;
}
.dpp-tit:before{
    content: '';
    display: block;
    width: .08rem;
    height: .48rem;
    background-color: #E02A1C;
    margin-right: .24rem;
}
.dpp-con{
    padding: .32rem 0;
    font-size: .4rem;
    color: #666;
    line-height: .59rem;
    margin: 0 .43rem;
    white-space: pre-line;
}
.dpp-tit span{
    font-size: .4rem;
    color: #666;
    padding-left: .17rem;
}
.dpr-tit{
    font-size: .43rem;
    color: #333;
    display: flex;
    align-items: center;
}
.dpr-tit:before{
    content: '';
    display: block;
    width: .56rem;
    height: .56rem;
    margin-right: .2rem;
    background-color: red;
    border-radius: 50%;
}
.dpr-con{
    padding: .43rem;
}
.dpr-cons{
    display: flex;
    flex-wrap: wrap;
}
.dpr-li{
    width: 2.85rem;
    margin-right: .2rem;
    margin-bottom: .2rem;
}
.dpr-con .dpr-li:nth-child(3n){
    margin-right: 0;
}
.dpr-icon{
    width: 100%;
    height: 2.6rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: .1rem;
}
.dpr-name{
    text-align: center;
    font-size: .4rem;
    color: #333;
}
.dp-bottom{
    height: 1.44rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .43rem;
}
.dpb-l{

}
.dpb-lm{
    width: .67rem;
    height: .67rem;
    margin: 0 auto .17rem;
}
.dpb-lt{
    font-size: .32rem;
    color: #444;
}
.dpb-r{
    width: 5.07rem;
    height: 1.04rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .52rem;
    background-color: #C91A1D;
    font-size: .43rem;
    color: #fff;
    text-decoration: none;
}



.pe,.pe2,.pe3{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9101;
    display: none;
    align-items: center;
    justify-content: center;
}
.pe-mask,.pe2-mask,.pe3-mask{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9102;
    background-color: rgba(0,0,0,.55);
}
.pe-main,.pe2-main,.pe3-main{
    position: fixed;
    z-index: 9103;
    width: 8.8rem;
    padding: .69rem .32rem;
    background-color: white;
    border-radius: .43rem;
}
.pe-tit,.pe2-tit,.pe3-tit{
    font-size: .43rem;
    text-align: center;
    margin-bottom: .56rem;
}
.pe-list,.pe2-list,.pe3-list{
    display: flex;
    flex-wrap: wrap;
}
.pe-close,.pe2-close,.pe3-close{
    width: .33rem;
    height: .33rem;
    position: absolute;
    right: .71rem;
    top: .73rem;
}

.top-tags{
    display: flex;
    align-items: center;
    margin-bottom: .37rem;
}
.top-tags-l{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.top-tag{
    height: .56rem;
    line-height: .56rem;
    padding: 0 .2rem;
    border-radius: .08rem;
    font-size: .37rem;
    background-color: #FDD9D5;
    color: #E17166;
    margin-right: .24rem;
}
.top-tag:nth-child(2){
    background-color: #FDF4E7;
    color: #F3BA5B;
}
.top-tag:nth-child(3){
    background-color: #EDF4FB;
    color: #5394F1;
}
.top-tag:nth-child(4){
    background-color: #FBF2ED;
    color: #F18B53;
}
.top-tags-r{
    display: none;
    width: .16rem;
    height: .31rem;
}
.top-tag-pop{
    height: 1rem;
    line-height: 1rem;
    border: solid 1px #ccc;
    border-radius: .5rem;
    padding: 0 .53rem;
    margin-right: .2rem;
    margin-left: .2rem;
    margin-bottom: .37rem;
    font-size: .4rem;
    color: #666;
}
.swiper-pagination-pop,.swiper-pagination-pop2{
    position: absolute;
    width: auto;
    left: auto;
    right: .4rem;
    bottom: .63rem;
    height: .57rem;
    line-height: .57rem;
    border-radius: .16rem;
    background: rgba(0,0,0,.6);
    color: #fff;
    font-size: .32rem;
    padding: 0 .12rem;
    z-index: 3000;
}


.hc-info2{
    /*display: flex;*/
    /*align-items: flex-start;*/
    /*justify-content: space-between;*/
    /*flex-wrap: wrap;*/
    margin-bottom: .43rem;
}
.hci-tli-wrap{
    display: flex;
    align-items: center;
    padding-top: .3rem;
    width: auto;
}
.hci-tli{
    width: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.hci-icon{
    width: 1.52rem;
    height: 1.5rem;
}
.hci-text{
    font-size: .38rem;
    color: #333;
    text-align: center;
}
.hci-trli{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: .4rem;
}
.hci-trli-row{
    font-size: .3rem;
    color: #333;
    line-height: .5rem;
}
.hci-trli-row span{
    color: #999;
}


.house-list{
    padding: .43rem 0;
}
.hli{
    width: 9.15rem;
    padding: .47rem .37rem .51rem;
    border-radius: .27rem;
    background: #fff;
    margin: 0 auto .27rem;
    box-shadow: 0 0 .1rem rgba(0,0,0,.12);
    position: relative;
    display: block;
    text-decoration: none;
}
.hli-tit{
    font-size: .45rem;
    color: #333;
    line-height: .64rem;
    padding-bottom: .33rem;
    border-bottom: dashed 1px #dedede;
}
.hli-row{
    padding: .36rem 0 0;
    display: flex;
    justify-content: space-between;
}
.hli-l{
    width: 2.85rem;
    height: 2.85rem;
    border-radius: .24rem;
    object-fit: cover;
    margin-right: .27rem;
}
.hli-r{
    flex: 1;
    overflow: hidden;
}
.hli-tags{
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: .32rem;
}
.hli-tags::-webkit-scrollbar{
    display: none;
}
.hli-tag{
    height: .51rem;
    line-height: .51rem;
    border-radius: .11rem;
    background: #f0f0f0;
    padding: 0 .12rem;
    font-size: .32rem;
    color: #666;
    margin-right: .24rem;
}
.hli-inf{
    font-size: .4rem;
    color: #666;
    flex: 1;
    margin-bottom: .3rem;
}
.hli-pri{
    color: #333;
    font-size: .43rem;
    margin-bottom: .2rem;
}
/*.hli-pri i{*/
/*    font-style: normal;*/
/*    font-size: .4rem;*/
/*}*/
.hli-pri span{
    font-size: .56rem;
    font-weight: bold;
}
.hli-dw{
    font-size: .4rem;
    color: #333;
}
.hli-dw span{
    color: #333
}
.hli-btn{
    height: .72rem;
    line-height: .72rem;
    border: solid 1px #E02A1C;
    border-radius: .16rem;
    padding: 0 .27rem;
    font-size: .4rem;
    color: #E02A1C;
    position: absolute;
    right: .37rem;
    bottom: .63rem;
    text-decoration: none;
}


.ct{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 11101;
    display: none;
    align-items: center;
    justify-content: center;
}
.ct-mask{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 11102;
    background-color: rgba(0,0,0,.55);
}
.ct-main{
    position: fixed;
    z-index: 11103;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ct-head{
    height: 1.1rem;
    line-height: 1.1rem;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .43rem;
}
.ct-back{
    width: .4rem;
    height: .28rem;
    transform: rotate(-90deg);
}
.ct-tit{
    flex: 1;
    font-size: .48rem;
    color: #333;
    text-align: center;
    margin: 0 .2rem;
}
.ct-r{
    width: .4rem;
    height: .4rem;
}
.ct-con{
    font-size: .4rem;
    color: #666;
    line-height: .64rem;
    padding: 0 .43rem;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    flex: 1;
}
.ct-con img{
    max-width: 100%;
    border-radius: .32rem;
    margin: .1rem auto;
}
.con-img{
    width: 100%;
    height: 6rem;
    border-radius: .32rem;
}