.gde{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9990;
}
.gde-mask{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 9991;
    background-color: rgba(0,0,0,.5);
}
.gde-main{
    height: 90%;
    width: 100%;
    background-color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9992;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.gde-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .43rem;
    position: relative;
    font-size: .43rem;
}
.gde-reset{
    font-size: .43rem;
    color: #333;
    width: 1rem;
}
.gde-tit{
    flex: 1;
    font-size: .48rem;
    text-align: center;
    font-weight: bold;
}
.gde-close{
    width: .37rem;
    height: .37rem;
    margin-left: .63rem;
}
.gde-ret{
    height: 2rem;
    background-color: #fff;
    border-radius: .32rem;
    box-shadow: 0 .05rem .2rem rgba(0,0,0,.08);
    margin: 0 .43rem .5rem;
    padding: .32rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .43rem;
}
.gde-ret-l{
    flex: .5;
}
.gde-ret-c{
    color: #E02A1C;
}
.gde-ret-r{
    flex: .5;
    text-align: right;
}
.gde-ret-t{
    font-size: .4rem;
    margin-bottom: .24rem;
}
.gde-ret-b{
    font-size: .45rem;
}
.gde-body{
    flex: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.gde-head-year{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .51rem;
    padding: .3rem .4rem;
    text-align: center;
}
/*.gde-head-year:before{*/
/*    content: '';*/
/*    display: block;*/
/*    width: .3rem;*/
/*    height: .35rem;*/
/*    background: url("../img/icon_arrow_down.png") no-repeat center / 100%;*/
/*    transform: rotate(90deg);*/
/*}*/
/*.gde-head-year:after{*/
/*    content: '';*/
/*    display: block;*/
/*    width: .3rem;*/
/*    height: .35rem;*/
/*    background: url("../img/icon_arrow_down.png") no-repeat center / 100%;*/
/*    transform: rotate(-90deg);*/
/*}*/
.gde-head-yl{
    width: .3rem;
    background: url("../img/icon_arrow_down.png") no-repeat center / 100%;
    transform: rotate(90deg);
}
.gde-head-yr{
    width: .3rem;
    background: url("../img/icon_arrow_down.png") no-repeat center / 100%;
    transform: rotate(-90deg);
}
.gde-head-yl.gde-head-disabled,.gde-head-yr.gde-head-disabled{
    opacity: .5;
}
.gde-head-month{
    width: 100%;
    padding: 0 .2rem;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    margin-bottom: .1rem;
}
.gde-head-month::-webkit-scrollbar{
    display: none;
}
.gde-head-mon{
    padding: .2rem .4rem;
    font-size: .45rem;
}
.gde-head-mon.gde-month-cur{
    color: #E02A1C;
    position: relative;
}
.gde-head-mon.gde-month-cur:after{
    content: '';
    display: block;
    width: .28rem;
    height: 2px;
    background: #E02A1C;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.gde-head-day{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: .97rem;
    border-bottom: solid 1px #DEDEDE;
    border-top: solid 1px #DEDEDE;
    background-color: #f8f8f8;
    padding: 0 .4rem;
    font-size: .4rem;
}
.gde-head-d.gde-weekend{
    color: #666;
}
.gde-head-ym{
    font-size: .45rem;
    font-weight: bold;
    text-align: center;
    padding: .43rem .43rem .2rem;
}
.gde-dates{
    display: flex;
    flex-wrap: wrap;
    padding: 0 .08rem;
}
.gde-mdd, .gde-mdd-emp{
    width: 14%;
    height: 1.4rem;
    line-height: 1.4rem;
    text-align: center;
    font-size: .43rem;
}
.gde-mdd.gde-out{
    opacity: .3;
}
.gde-mdd.gde-sel-start, .gde-mdd.gde-sel-end{
    background-color: #E02A1C;
    border-radius: .16rem;
    color: #fff;
}
.gde-mdd.gde-sel-center{
    background-color: #FDEEED;
    border-radius: 0;
}
.gde-btn-confirm{
    width: 9.15rem;
    height: 1.04rem;
    line-height: 1.04rem;
    background-color: #E02A1C;
    border-radius: .32rem;
    color: #fff;
    font-size: .48rem;
    text-align: center;
    margin: .32rem auto;
}
.gde-btn-confirm.gde-disabled{
    background-color: #ccc;
    color: #666;
}
.gde.slideIn .gde-main{
    animation: slideIn .3s ease;
}
.gde.slideIn .gde-mask{
    animation: fadeIn .3s ease;
}
.gde.slideOut .gde-mask{
    animation: fadeOut .3s ease;
}
.gde.slideOut .gde-main{
    animation: slideOut .3s ease;
}
@keyframes slideIn {
    from{transform: translate3d(0, 100%, 0)}to{transform: translate3d(0, 0, 0)}
}
@keyframes slideOut {
    from{transform: translate3d(0, 0, 0)}to{transform: translate3d(0, 100%, 0)}
}
@keyframes fadeIn {
    from{opacity: 0}to{opacity: 1}
}
@keyframes fadeOut {
    from{opacity: 1}to{opacity: 0}
}