html,body,.wrap{
    width: 100%;
    height: 100%;
}
.wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0;
}
.lg-tit{
    text-align: center;
    padding-top: .88rem;
    font-size: .83rem;
    color: #333;
    margin-bottom: .31rem;
}
.lg-stit{
    color: #999;
    font-size: .43rem;
    text-align: center;
    margin-bottom: .53rem;
}
.lg-m{
    flex: 1;
}
.lg-input-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1.23rem;
    padding: .78rem 0 .31rem;
    border-bottom: solid 1px #ccc;
}
.lg-input-t, .lg-input-v{
    min-width: 5em;
    flex: 1;
    border: 0;
    font-size: .43rem;
    color: #333;
    border-radius: 0;
    box-shadow: none;
}
.lg-btn-v{
    font-size: .4rem;
    color: #D12421;
    background: none;
    border: 0;
    box-shadow: none;
    display: block;
}
.lg-btn-v[disabled=disabled]{
    color: #666;
}
.lg-submit{
    height: 1.23rem;
    line-height: 1.23rem;
    border-radius: .61rem;
    margin: 1.55rem auto 1rem;
    background-color: #D12421;
    font-size: .45rem;
    color: #fff;
    text-align: center;
    display: block;
    border: 0;
    width: 7.55rem;
}
.lg-submit[disabled=disabled]{
    background: #E7E7E7;
    color: #666;
}
.lg-bottom{
    margin: 0 .4rem .8rem;
    text-align: center;
    font-size: .35rem;
    color: #666;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lg-bottom a{
    text-decoration: none;
    color: #D12421;
}
.lg-btn-start{
    width: 7.55rem;
    height: 1.23rem;
    border-radius: .61rem;
    margin: 0 auto;
    border: solid 1px #D12421;
    font-size: .43rem;
    color: #D12421;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lg-btn-start:before{
    content: '';
    display: block;
    width: .53rem;
    height: .53rem;
    background: url("../img/icon_photo.png") no-repeat center / 100%;
    margin-right: .2rem;
}
.lg-bc{
}
.lg-bc input[type=checkbox]{
    position: relative;
    appearance: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: .4rem;
    height: .4rem;
    margin-right: .2rem;
}
.lg-bc input[type=checkbox]:before{
    content: '';
    display: block;
    width: .4rem;
    height: .4rem;
    border: solid 1px #D12421;
}
.lg-bc input[type=checkbox]:checked:before{
    content: '';
    display: block;
    width: .4rem;
    height: .4rem;
    border: solid 1px #D12421;
    background:  #D12421;
}